.navbar{ 
    background-color:#339999; 
    border:1px solid black; 
}

.navbar > a{
    color: white !important;
    font-family: arial; 
    font-weight: normal;    
}
.bg-light{
    min-width: 800px;
    width: auto;
}
.header {
    font-family: arial; 
    color: white; 
    background-color:#339999; 
    border:1px solid black; 
    font-weight: normal;
}

.footer {
    font-family: Arial ;
    font-size: small;
    color: white;
    background-color:#339999;
    border:1px solid black;
    font-weight: normal;
    text-align: center;}			

#img_login{
    width:50px;
    height:50px;
}

.img_index{
    width:400px;
    height:auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.img_code{
    width:100px;
    height:auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto {
color: blue;
/*pointer-events: none;
text-align: center;*/
}

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form p {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}